.toast {
  position: fixed;
  top: 1.25rem; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #636963a8; 
  color: white; 
  padding: 0.5rem 1rem; 
  border-radius: 0.375rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}
