.group-container {
  display: flex;
  height: 70vh;
}

.group-header {
  margin-bottom: 20px;
  padding: 30px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 30vw;
  /* background-color: #f9f9f9; */
}
.group-table-container {
  width: 70vw;
  padding-left: 30px;
}
.group_head {
  color: black;
  font-size: 18px;
  margin: 20px 0 10px 0;
}
.group_membaer_heading {
  margin-bottom: 15px;
  /* left: 500px; */
  position: relative;
}

.group_content {
  color: #1a661a; /* Dark color for dynamic content */
  font-weight: bold; /* Make dynamic content bold */
  font-size: 22px;
}
.group_descrip {
  padding-left: 7px;
}
.details_row {
  grid-template-columns: 1fr 2fr 2fr;
}

.group-table-container {
  display: flex;
  flex-direction: column;
}

.header-with-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns the dropdown with the heading */
  margin-bottom: 1rem; /* Space between header and table */
}

.dropdown_create {
  position: relative;
}

.dropdown-options_create {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white; /* Adjust background color as needed */
  border: 1px solid #ccc; /* Adjust border as needed */
  width: max-content; /* Ensure dropdown is not too wide */
}

.create_button {
  background-color: rgb(132, 199, 174);
  cursor: pointer;
  padding: 5px 8px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #75c58a;
  gap: 12px;
}

/*  */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Darken background */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 999; /* Make sure it's on top of other elements */
}

.popup {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2.5em;
  cursor: pointer;
}

.group_add_member {
  position: relative;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  font-weight: 600;
  padding-left: 15vw;
}
